Repository pomazkovanton/lubimovka: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix, stylelint --fix

feat(about): добавить секцию about #14
  index.html
  styles/components/about.scss
  styles/pages/index.scss
Due: stylelint --fix

Updates
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.6722bf1f.css
  pages.6722bf1f.css.map
Due: none

style: добавить стилизацию card-show
  styles/components/card-show/card-show.scss
  styles/pages/index.scss
Due: stylelint --fix

style: добавить card-show.html
  styles/components/card-show/card-show.html
  styles/components/card-show/card-show.scss
Due: stylelint --fix

style: внести правки в card-show
  styles/components/card-show/card-show.html
  styles/components/card-show/card-show.scss
Due: stylelint --fix

style: заменить теги p на time
  styles/components/card-show/card-show.html
  styles/components/card-show/card-show.scss
Due: stylelint --fix

Updates
  index.html
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  pages.a9bbe4af.css
  pages.a9bbe4af.css.map
  scripts.bcf3243b.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

style(sub-btn.scss): beta sub-btn
  index.html
  styles/components/UI/sub-btn.scss
  styles/pages/index.scss
Due: stylelint --fix

style(sub-btn.scss): добавил стили кнопки подписки
  index.html
  styles/components/UI/sub-btn.scss
Due: stylelint --fix

refactor(sub-btn): заменить компонент на модификатор блока button #10
  styles/components/UI/button.scss
  styles/components/UI/sub-btn.scss
Due: stylelint --fix

feat(single-video): добавил блок с одним видео #11
  index.html
  styles/components/single-video.scss
  styles/pages/index.scss
Due: stylelint --fix

feat: добавить блок с интро #13
  index.html
  styles/components/hero.scss
  styles/pages/index.scss
Due: stylelint --fix

refactor(lint): сделать форматирование файлов по код стайлу
  README.md
  styles/components/about.scss
  styles/components/card-show/card-show.html
  styles/components/header.scss
Due: stylelint --fix

Updates
  hero.3e6fbaad.jpg
  hero.d11a7d87.jpg
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  pages.367a05fc.css
  pages.367a05fc.css.map
  pages.6722bf1f.css
  pages.a9bbe4af.css
  pages.fa5aa0bf.css
  scripts.bcf3243b.js
  scripts.bcf3243b.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

Updates
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js.map
  scripts.bcf3243b.js.map
Due: none

style(ui): добавить модификатор для центрирования заголовка #49
  styles/components/UI/title.scss
Due: stylelint --fix

fix(about): исправить центрирование контейнера секции about
  styles/components/about.scss
Due: stylelint --fix

Updates
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  pages.20b37b73.css
  pages.20b37b73.css.map
  scripts.bcf3243b.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

feat: добавить секцию gallery
  index.html
  styles/components/gallery.scss
  styles/pages/index.scss
Due: stylelint --fix

fix(variables): изменить основной цвет заднего фона
  styles/common/variables.scss
Due: stylelint --fix

fix(header): добавить неразрывный пробел для ссылки
  index.html
Due: none

feat: добавить адаптив секции gallery
  index.html
  styles/components/gallery.scss
Due: stylelint --fix

feat: сверстать секцию pieces
  index.html
  styles/components/card-piece/card-piece.scss
  styles/components/pieces.scss
  styles/pages/index.scss
Due: stylelint --fix

feat: сделать предварительный адаптив секции pieces
  index.html
  styles/components/card-piece/card-piece.scss
  styles/components/pieces.scss
Due: stylelint --fix

style: почистить код
  styles/components/pieces.scss
Due: stylelint --fix

fix: переписать медиазапрос
  styles/components/pieces.scss
Due: stylelint --fix

feat: сверстать блок subscribe
  index.html
  styles/components/subscribe.scss
  styles/pages/index.scss
Due: stylelint --fix

refactor: выполнить форматирование кода
  index.html
Due: none

fix: исправить выравнивание блока с подпиской при адаптиве #34
  index.html
  styles/components/subscribe.scss
Due: stylelint --fix

Updates
  icons.b19cc518.svg
  index.html
  index.js
  index.js.map
  main-logo-small.26cde5db.svg
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  pages.20b37b73.css
  pages.20b37b73.css.map
  pages.367a05fc.css
  pages.367a05fc.css.map
  pages.41654b54.css
  pages.41654b54.css.map
  pages.4cd1bf96.css
  pages.4cd1bf96.css.map
  pages.6722bf1f.css.map
  pages.6930b12d.css
  pages.6930b12d.css.map
  pages.a9bbe4af.css.map
  pages.d396ed9c.css
  pages.d396ed9c.css.map
  pages.d50b7047.css
  pages.d50b7047.css.map
  pages.fa5aa0bf.css.map
  poster-2.457b4490.jpg
  scripts.1d0ae0c5.js
  scripts.1d0ae0c5.js.map
  scripts.2ed900e3.js
  scripts.2ed900e3.js.map
  scripts.533adc95.js
  scripts.533adc95.js.map
  scripts.bcf3243b.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

fix(gallery): исправить адаптив блока с фотографиями #38
  styles/components/gallery.scss
Due: stylelint --fix

build(precommit): добавить проверку форматирования кода при коммите
  .lintstagedrc
Due: none

Updates
  gallary-1.b375037e.jpg
  gallary-1.fae9079f.jpg
  gallary-2.10c633d3.jpg
  gallary-2.684a1070.jpg
  gallary-3.95b3ca1c.jpg
  gallary-3.f801a197.jpg
  gallary-4.134ed636.jpg
  gallary-4.f635a88c.jpg
  gallary-5.54de9f4c.jpg
  gallary-5.e8d54fb4.jpg
  gallary-6.8c50832f.jpg
  gallary-6.8fa30383.jpg
  gallary-7.459b5468.jpg
  gallary-7.d241a296.jpg
  gallary-8.2f8486da.jpg
  gallary-8.40b2d789.jpg
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.4cd1bf96.css
  pages.a9344fc6.css
  pages.a9344fc6.css.map
  scripts.bcf3243b.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

refactor(slider): подготовить секцию к подключению слайдера
  index.html
  package.json
  styles/components/pieces.scss
Due: stylelint --fix

fix(single-video): добавил адаптив сингл-видео #46
  index.html
  styles/components/single-video.scss
Due: stylelint --fix

feat: добавить блок с призывом к сотрудничеству #35
  index.html
  styles/components/cooperation.scss
  styles/pages/index.scss
Due: stylelint --fix

Updates
  icons.7c89cbb9.svg
  index.html
  index.js
  index.js.map
  main-logo-small.4ff2905f.svg
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.20b37b73.css
  pages.20b37b73.css.map
  pages.367a05fc.css
  pages.367a05fc.css.map
  pages.41654b54.css.map
  pages.4cd1bf96.css.map
  pages.6722bf1f.css
  pages.6722bf1f.css.map
  pages.6930b12d.css.map
  pages.89d0ba3b.css
  pages.89d0ba3b.css.map
  pages.a9344fc6.css
  pages.a9344fc6.css.map
  pages.a9bbe4af.css
  pages.a9bbe4af.css.map
  pages.d396ed9c.css.map
  pages.d50b7047.css.map
  pages.fa5aa0bf.css
  pages.fa5aa0bf.css.map
  poster-2.457b4490.jpg
  scripts.1d0ae0c5.js
  scripts.1d0ae0c5.js.map
  scripts.2ed900e3.js
  scripts.2ed900e3.js.map
  scripts.533adc95.js
  scripts.533adc95.js.map
  scripts.bcf3243b.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

fix(grid): добавить минимальную щирину контейнера для секций
  styles/components/cooperation.scss
  styles/components/subscribe.scss
Due: stylelint --fix

Updates
  index.html
  pages.0a519eba.css
  pages.0a519eba.css.map
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  scripts.bcf3243b.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

Path conditions:
  prettier --config .prettierrc --write: any of: **/*.{js,jsx, ts, tsx}
  eslint ./scripts/**/*.{ts,js} --fix: any of: **/*.{js,jsx, ts, tsx}
  stylelint --fix: any of: **/*.scss
