Repository pomazkovanton/lubimovka: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx, ts, tsx}": [
    "prettier --config .prettierrc --write",
    "eslint ./scripts/**/*.{ts,js} --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

docs(readme): добавить описание для проекта
  README.md
Due: none

Updates
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  pages.6ef62f69.css
  pages.6ef62f69.css.map
  scripts.2ed900e3.js
  scripts.2ed900e3.js.map
  scripts.f84e1103.js
  scripts.f84e1103.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

build(gh-pages): добавить Gh-pages для публикации страницы на сервере
  package.json
  yarn-error.log
  yarn.lock
Due: none

docs(readme): добавить ссылку на проект
  README.md
Due: none

docs(readme): добавить ссылки на профили разработчиков
  README.md
Due: none

feat: создать css переменные цветов #2
  styles/common/variables.scss
Due: stylelint --fix

feat(accets): подключить шрифты к проекту #1
  accets/fonts/PPNeueMachina-Regular.woff
  accets/fonts/PPNeueMachina-Regular.woff2
  accets/fonts/formular-light.woff
  accets/fonts/formular-light.woff2
  styles/common/fonts.scss
Due: stylelint --fix

fix: Добавить переменную для белого цвета #2
  styles/common/variables.scss
Due: stylelint --fix

style(ui): добавить стили для текста #6
  styles/components/.gitkeep
  styles/components/UI/text.scss
  styles/pages/index.scss
Due: stylelint --fix

fix: исправить цвета на rgb формат #2
  styles/common/variables.scss
Due: stylelint --fix

feat(accets): добавить графику (иконки, картинку) #3
  accets/fonts/.gitkeep
  accets/images/.gitkeep
  accets/images/gallary-1.jpg
  accets/images/gallary-2.jpg
  accets/images/gallary-3.jpg
  accets/images/gallary-4.jpg
  accets/images/gallary-5.jpg
  accets/images/gallary-6.jpg
  accets/images/gallary-7.jpg
  accets/images/gallary-8.jpg
  accets/images/hero.jpg
  accets/images/icons.svg
  accets/images/logo-design.svg
  accets/images/main-logo-big.svg
  accets/images/main-logo-small.svg
  accets/images/partners-1.png
  accets/images/partners-2.png
  accets/images/partners-3.png
  accets/images/partners-4.png
  accets/images/person-1.jpg
  accets/images/person-2.jpg
  accets/images/person-3.jpg
  accets/images/poster-1.jpg
  accets/images/poster-2.jpg
Due: none

fix: докачать stylelint
  package-lock.json
  styles/common/variables.scss
  yarn.lock
Due: stylelint --fix

fix: исправить задание цветов
  styles/common/variables.scss
Due: stylelint --fix

fix: откатить все коммиты и исправить задание цветов
  styles/common/variables.scss
Due: stylelint --fix

style: Написать стили для каждого из заголовков #5
  styles/components/.gitkeep
  styles/components/UI/title.scss
Due: stylelint --fix

style: Подключить стили заголовков в index.scss #5
  styles/pages/index.scss
Due: stylelint --fix

style: испправить с stylelint #5
  styles/pages/index.scss
Due: stylelint --fix

feat(index.html): add metatags in head
  index.html
Due: none

Исправил лишнюю строку #4
  index.html
Due: none

style: styles nav-link
  styles/components/UI/nav-link.scss
Due: stylelint --fix

style: add nav-link styles
  styles/pages/index.scss
Due: stylelint --fix

style(ui): добавить стили для кнопок #7
  styles/components/UI/button.scss
  styles/pages/index.scss
Due: stylelint --fix

style: исправить стилизацию nav-link
  styles/components/UI/nav-link.scss
Due: stylelint --fix

fix: перенести flex-стили в nav-link
  styles/components/UI/nav-link.scss
Due: stylelint --fix

refactor(html): прогнать файл через валидатор
  index.html
Due: none

fix(ui): убрать внешние отступы у элемента text
  styles/components/UI/text.scss
Due: stylelint --fix

style: добавить стили для элемента card-piece #31
  styles/components/card-piece/card-piece.html
  styles/components/card-piece/card-piece.scss
  styles/pages/index.scss
Due: stylelint --fix

refactor(variables): провести рефакторинг переменных #37
  styles/common/variables.scss
  styles/components/UI/button.scss
  styles/components/UI/nav-link.scss
  styles/components/UI/text.scss
  styles/components/UI/title.scss
  styles/components/card-piece/card-piece.scss
Due: stylelint --fix

fix(variables): исправить косяк с переменными для щрифта
  styles/common/variables.scss
Due: stylelint --fix

feat(header): добавить верстку для header #12
  index.html
  styles/components/header.scss
  styles/pages/index.scss
Due: stylelint --fix

feat(header): добавить обработчик открытия/закрытия меню #12
  index.html
  scripts/index.js
  scripts/index.ts
  scripts/menu.js
  scripts/variables.js
  styles/components/header.scss
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix, stylelint --fix

fix(header): добавить минимальную ширину для header'а #12
  styles/components/header.scss
Due: stylelint --fix

Updates
  PPNeueMachina-Regular.129423ad.woff
  PPNeueMachina-Regular.60f1284f.woff2
  PPNeueMachina-Regular.90e43790.woff
  PPNeueMachina-Regular.b2a90592.woff2
  formular-light.28397d54.woff
  formular-light.66e5e21b.woff2
  formular-light.7396d89b.woff2
  formular-light.f44893e0.woff
  icons.04c8c4df.svg
  icons.b19cc518.svg
  index.html
  index.js
  index.js.map
  main-logo-small.26cde5db.svg
  main-logo-small.c1ff06f4.svg
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.6ef62f69.css
  pages.6ef62f69.css.map
  pages.d50b7047.css
  pages.d50b7047.css.map
  scripts.1d0ae0c5.js
  scripts.1d0ae0c5.js.map
  scripts.2ed900e3.js.map
  scripts.bcf3243b.js
  scripts.bcf3243b.js.map
  scripts.f84e1103.js
  scripts.f84e1103.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

Updates
  index.html
  pages.6930b12d.css
  pages.6930b12d.css.map
  scripts.533adc95.js
  scripts.533adc95.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

Updates
  index.html
  pages.d396ed9c.css
  pages.d396ed9c.css.map
  scripts.533adc95.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

Updates
  index.html
  pages.41654b54.css
  pages.41654b54.css.map
  scripts.533adc95.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

build(deploy): добавить настройки для деплоя на сервер
  .htmlnanorc
  package.json
Due: none

style(page): добавить цвет заднего фона для всей страницы
  styles/components/page.scss
  styles/pages/index.scss
Due: stylelint --fix

Updates
  icons.7c89cbb9.svg
  index.html
  index.js
  index.js.map
  main-logo-small.4ff2905f.svg
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.41654b54.css
  pages.41654b54.css.map
  pages.6930b12d.css
  pages.6930b12d.css.map
  pages.d396ed9c.css
  pages.d396ed9c.css.map
  pages.d50b7047.css
  pages.d50b7047.css.map
  pages.fa5aa0bf.css
  pages.fa5aa0bf.css.map
  scripts.1d0ae0c5.js
  scripts.1d0ae0c5.js.map
  scripts.2ed900e3.js
  scripts.2ed900e3.js.map
  scripts.533adc95.js.map
  scripts.bcf3243b.js
  scripts.bcf3243b.js.map
  scripts.e7c9c750.js
  scripts.e7c9c750.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

fix(header): исправить боковые отступы у шапки сайта
  styles/components/header.scss
Due: stylelint --fix
