Repository pomazkovanton/lubimovka: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx, ts, tsx}": [
    "prettier --config .prettierrc --write",
    "eslint ./scripts/**/*.{ts,js} --fix"
  ],
  "**/*.scss": [
    "prettier --config .prettierrc --write",
    "stylelint --fix"
  ],
  "**/*.html": [
    "prettier --config .prettierrc --write",
  ]
}

fix(pieces): исправить выпадение флекс элемента #32
  index.html
  styles/components/card-piece/card-piece.scss
  styles/components/card-show/card-show.scss
  styles/components/pieces.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix(pieces): исправить минимальную ширину контейнера для блока с пьесами
  styles/components/pieces.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Updates
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.a90c86f2.css
  pages.a90c86f2.css.map
  scripts.bcf3243b.js
  slick.2665e5ef.js
  slick.2665e5ef.js.map
  slick.d83ca929.css
  slick.d83ca929.css.map
  slick.d83ca929.js
  slick.d83ca929.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

fix(pieces): исправить выпадение контента
  styles/components/pieces.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Updates
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.27265004.css
  pages.27265004.css.map
  scripts.bcf3243b.js
  scripts.bcf3243b.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

feat: добавить базовую верстку для блока с show #30
  index.html
  styles/components/show.scss
  styles/pages/index.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat(show): добавить адаптив для блока с шоу #30
  index.html
  styles/components/show.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Updates
  index.html
  pages.0a519eba.css
  pages.1a2cda2f.js
  pages.27265004.css
  pages.89d0ba3b.css
  pages.a90c86f2.css
  pages.babac0e2.css
  pages.babac0e2.css.map
  poster-1.60705e05.jpg
  poster-1.ca5b6a9d.jpg
  poster-2.457b4490.jpg
  poster-2.97e0436c.jpg
  scripts.bcf3243b.js
  slick.2665e5ef.js
  slick.d83ca929.css
  slick.d83ca929.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

feat(video.js): добавил универсальные стили и скрипт для видео #47
  accets/images/play-btn.svg
  index.html
  scripts/video.js
  styles/components/UI/video.scss
  styles/pages/index.scss
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix, stylelint --fix

fix(pieces): исправить выравнивание блока с пьесами
  index.html
  styles/components/pieces.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat(footer): сделать верстку подвала #36
  index.html
Due: prettier --config .prettierrc --write

style(footer): добавить стили для подвала сайта #36
  index.html
  styles/components/footer.scss
  styles/pages/index.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Updates
  index.html
  logo-design.8d0dd1d9.svg
  logo-design.d97d00be.svg
  main-logo-big.237d4244.svg
  main-logo-big.87152614.svg
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  pages.7ac981c4.css
  pages.7ac981c4.css.map
  pages.fe3eae12.css
  partners-1.46cc51eb.png
  partners-2.98112e71.png
  partners-3.8d66e474.png
  partners-4.7694a4fc.png
  scripts.bcf3243b.js
  video.7a59c843.js
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

feat(grid): добавить сетку для всей страницы #58
  index.html
  styles/components/cooperation.scss
  styles/components/gallery.scss
  styles/components/main-grid.scss
  styles/components/single-video.scss
  styles/pages/index.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Updates
  index.html
  pages.1a2cda2f.css
  pages.1a2cda2f.css.map
  pages.1a2cda2f.js
  pages.1a2cda2f.js.map
  pages.6f102a1f.css
  pages.6f102a1f.css.map
  scripts.bcf3243b.js
  scripts.bcf3243b.js.map
  video.7a59c843.js
  video.7a59c843.js.map
Due: prettier --config .prettierrc --write, eslint ./scripts/**/*.{ts,js} --fix

docs: убрать лишних соавторов из описания проекта
  README.md
Due: none

doc(readme): обновить описание сайта
  README.md
Due: none
